body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.jumbotron h1 {
  font-size: 23px;
}
.jumbotron h2 {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 44px;
  }
  .jumbotron h2 {
    font-size: 24px;
  }
}

/* Used in SnapshotSelection */
.snapshotSelectionNav>li>a {
  padding: 0px;
}

label{
  font-weight:normal;
}

.nav-pills>li.active>a,
.btn-primary {
    background-color: #000998;
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #000998bf;
}

a {
    color: #000998;
}

.navbar-default .navbar-nav>li>a {
  color: #000998;
  font-size: 1.1em;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
  color: #000998bf;
}

.popover-title {
  padding: 12px 21px;
}

.dropdown-menu {
  min-width: unset;
}

.nav-tabs {
  display: flex;
  border-bottom: 0px;
  padding-right: 4px;
}
.tab-pane:first-child {
  border-top-left-radius: 0px;
}
.tab-pane {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.nav-tabs>li.active>a {
  height: 100%;
}
.nav-tabs>li>a {
  color: #555;
}

.hover-image {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border .3s ease-in-out;
  overflow: hidden;
}
.hover-image:hover .overlay {
  opacity: 0;
}
.hover-image .overlay {
  transition: opacity .3s ease-in-out;
  position: absolute;
  opacity: 1;
}
.hover-image:hover {
  border: 1px solid #000998;
}
